.dropdown {
    min-width: 350px;
    position: relative
}
  
.dropdown select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.dropdown::after {
  --size: 0.4rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}


.dropdown::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 45%;
}