@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8f4ff;
  --foreground: #171717;
  --window: white;
  --btnBackground: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.disableHighlight {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}
